.about {
    margin: 8vh auto;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    color: var(--color-text);
    padding: 1vh 20vw;
   

    h1 {
        margin: 20vh auto 5vh;
        font-family: 'Inter';
        text-align: center;
        font-size: 8rem;
        color: white;

        &:hover {
            animation: glitch 0.4s ease infinite;
        }
    }

    ul {
            width: 400px;
        display: flex;
        flex-direction: column;
        margin: 2rem;
        li {
                font-family: 'Inter';
                margin-bottom: 2rem;
                font-size: 2rem;
                padding: 0.25rem;
        }
    }

}

.model {
        position: relative;
        width: fit-content;
        overflow: hidden;
        text-transform: uppercase;
        .first {
          margin-right: 2rem;
        }
        span {
          display: inline-block;
          position: relative;
          font-weight: 800;
          font-size: 8rem;
          font-family: "Inter";
          @media (max-width: 1440px) {
            font-size: 4.5rem;
          }
        }
      }
@keyframes glitch {
    0% {
            text-shadow: 3px 2px #f44236, -2px -4px lightblue;
    }
    25% {
            text-shadow: -2px -3px #f44236, 3px 1px lightblue;
    }
    50% {
            text-shadow: 3px -1px #f44236, -4px 2px lightblue;
    }
    75% {
            text-shadow: -3px -1px #f44236, -4px -2px lightblue;
    }
    100% {
            text-shadow: 3px 1px #f44236, 2px 4px lightblue;
    }
}


