.about {
    position: relative;
    margin-top: 8vh;
    width: 100vw;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    h1 {
        font-size: 4rem;
        color: #FCFCFB;
        margin: auto;
    }
}