.home-wrapper {
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    overflow: hidden;

}

.artsy {
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 10vh;
    left: 30%;
    background-color: transparent;

    .waves {
        position: relative;
        display: flex;
        z-index: 1000;
        width: 100%;
    }
    
    .waves {
        opacity: 0;
    }
    
    .waves span {
        width: 50px;
        height: 100px;
        margin: 20px 20px;
        background: transparent;
        border: 1px solid #121212;
        animation: waveEfx 2.6s linear infinite;
    }
    
    .waves:hover {
        opacity: 1;
    }
    
    
    .waves span:nth-child(1) {
        animation-delay: 0s;
    }
    .waves span:nth-child(2) {
        animation-delay: 0.2s;
    }
    .waves span:nth-child(3) {
        animation-delay: 0.4s;
    }
    .waves span:nth-child(4) {
        animation-delay: 0.6s;
    }
    .waves span:nth-child(5) {
        animation-delay: 0.8s;
    }
    .waves span:nth-child(6) {
        animation-delay: 1s;
    }
    .waves span:nth-child(7) {
        animation-delay: 1.2s;
    }
    .waves span:nth-child(8) {
        animation-delay: 1.4s;
    }
    .waves span:nth-child(9) {
        animation-delay: 1.6s;
    }
    .waves span:nth-child(10) {
        animation-delay: 1.8s;
    }
    .waves span:nth-child(11) {
        animation-delay: 2s;
    }
    .waves span:nth-child(12) {
        animation-delay: 2.2s;
    }
    .waves span:nth-child(13) {
        animation-delay: 2.4s;
    }
    .waves span:nth-child(14) {
        animation-delay: 2.6s;
    }
    
    @keyframes waveEfx {
    
        0% {
            box-shadow: 0 0 0 rgba(0,0,0,0.5);
            opacity: 0;
            transform: translateX(-50px) scale(1);
        }
        50% {
            box-shadow: 0 10px 30px rgba(0,0,0,0.5);
            opacity: 1;
            transform: translateX(0px) scale(1.2);
        }
        100% {
            box-shadow: 0 0 0 rgba(0,0,0,0.5);
            opacity: 0;
            transform: translateX(50px) scale(1);
        }
    }
    
}

.headline-wrapper {
    position: relative;
    margin: 0 auto;
    width: 80%;
    display: block;
    top: 30vh;
    left: 10vw;
    z-index: 1;

    @media (max-width: 960px) {
        left: 0rem;
        padding: 0 2rem;
        width: 90%;
        left: 0;
        top: 20vh;
    }
    h4 {
        font-size: 1.4rem;
        color: var(--color-text);
        font-weight: 400;

        @media (max-width: 960px) {
            font-size: 1.2rem;
        }
    }

   
    h1 {
        font-size: 3rem;
        color: var(--color-text-2nd);
        text-transform: uppercase;
        transition: transform 1s ease;
        font-family: 'Playfair Display', sans-serif;
        cursor: pointer;
        overflow: hidden;

        &::after {
            content: "/ˌkriːeɪˈtɪvəti/";
            display: block;
            position: absolute;
            top: -25vh;
            left: 5vw;
            width: 200%;
            color: #282828;
            text-shadow: 4px 4px 3px #000, 4px 4px 10px #121212;
            font-size: 10rem;
            font-weight: 800;
            z-index: -1;

            @media (max-width: 960px) {
                content: "<div>";
                font-family: 'Great Vibes', cursive;
                display: block;
                font-style: oblique;
                text-transform: lowercase; 
                position: absolute;
                top: -10vh;
                left: -5vw;
                width: 200%;
                color: #2A497F;
                text-shadow: 2px 2px 3px #152852, 4px 4px 10px #152852;
                font-size: 6rem;
                font-weight: 800;
                z-index: -1;
            }
        }
        &::before {
            display: none;
            @media (max-width: 960px) {
                content: "</div>";
                font-family: 'Great Vibes', cursive;
                font-style: oblique;
                text-transform: lowercase;
                display: block;
                position: absolute;
                top: 50vh;
                left: 30vw;
                width: 200%;
                color: #2A497F;
                text-shadow: 2px 2px 3px #152852, 4px 4px 10px #152852;
                font-size: 6rem;
                font-weight: 800;
                z-index: -1;
            }
        }

        @media (max-width: 960px) {
            font-size: 2rem;
        }

        
    }
}

.home-section-top {
    position: relative;
    top: 40vh;
    text-align: left;
    width: 80%;
    left: 10vw;
    margin: 0 auto;
    height: 92vh;
    z-index: 2;
    overflow-x: hidden;

    @media (max-width: 960px) {
        top: 30vh;
        left: 0;
        right: 0;
        padding: 0 2rem;
        width: 90%;
        margin: 0 auto;
        text-align: left;
        
    }
    

    h2 {
        color: var(--color-text-2nd);
        margin: 2rem 0;
        font-size: 1.4rem;
        font-weight: 100;
        
        

        @media (max-width: 960px) {
            width: 100%;
            font-size: 1.2rem;
            
        }

        span {
            font-size: 1.4rem;
            color: var(--color-text);
            font-weight: 400;
    
            @media (max-width: 960px) {
                font-size: 1.2rem;
            }
        }
    

        b {
            font-size: 2rem;
            color: var(--color-text);

            @media (max-width: 960px) {
                font-size: 1.2rem;
            }
        }
        .bigger-text {
            font-size: 2rem;
            color: var(--color-text);

            @media (max-width: 960px) {
                font-size: 1.6rem;
            }
        }

        small {
            unicode-bidi:bidi-override;
            direction:rtl;
            font-size: 2rem;
            font-size: 1.4rem;
            color: var(--color-text);
            font-weight: 400;
            text-shadow: 0 1px 2px rgba(0,0,0,0.4);
            @media (max-width: 960px) {
                font-size: 1.2rem;
            }
        }
        
    }
    

}

.home-section-mid {
    position: relative;
    top: 5vh;
    right: 10vw;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    color: var(--color-text-2nd);
    text-align: right;
    z-index: 2;

    @media (max-width: 960px) {
        top: 0;
        padding: 0 2rem;
        width: 90%;
        right: 0;
        left: 0;
        margin: 0 auto;
        height: 30vh;
        text-align: left;
    }
    

    h2 {
        font-size: 1.4rem;
        font-weight: 100;
        

        @media (max-width: 960px) {
            font-size: 1.2rem;
            line-height: 1.4rem;

        }

        b {
            font-size: 2rem;
            color: var(--color-text);
            line-height: 1.6rem;

            @media (max-width: 960px) {
                font-size: 1.6rem;
            }
        }
        
    }
}
.home-section-bottom {
    position: relative;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    color: var(--color-text-2nd);
    text-align: left;
    z-index: 2;
    display: flex;

    @media (max-width: 960px) {
        padding: 0 2rem;
        width: 90%;
        left: 0;
        right: 0;
        margin: 10vh auto 10vh;
        height: 70vh;
        flex-direction: column;
    }

    .text-section {
        width: 50%;

        b {
            font-size: 2rem;
            color: var(--color-text);
        }

        h2 {
            font-size: 1.4rem;
            font-weight: 100;
            color: var(--color-text);
            
        }

        a {
            text-decoration: none;
            color: var(--color-text);
            font-weight: 400;

            &:hover {
                color: gray;
            }
        }

        .technologies {
            color: var(--color-text);


            h4 {
                color: var(--color-text-2nd);
                cursor: pointer;
            &:hover {
                animation: glitch 0.6s ease-in-out;
            }

        }
        }
        
}
    .img-section {
        width: 50%;
        position: relative;
        display: inline-block;
        box-sizing: border-box;

        @media (max-width: 960px) {
            display: none;
           
        }
       
        

        .img-container {
            position: absolute;
            margin: 10vh auto;
            margin-left: 5vw;
            box-sizing: border-box;
            width: 300px;
            border: 1rem solid var(--color-text-2nd);
            background-color: var(--color-text-2nd);
            object-fit: cover;
            transition: all 0.6s ease-in-out;

             @media (max-width: 960px) {
                width: 200px;
             }

            &:hover .img-overlay {
                opacity: 0;
            }
            &:hover img {
                transform: scale(1.1) translateX(-50%);
                border: 1rem solid var(--color-bg);
            }

        }
        .img-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-text-2nd);
            opacity: 0.8;
            transition: all 0.4s ease-in-out;

        }

        img {
        width: 100%;
        height: 100%;
        margin-left: 50%;
        border: 1rem solid var(--color-text-2nd);
        transition: transform 0.4s ease-in-out;

    }
    }
    

}

@keyframes glitch {
    0% {
            text-shadow: 3px 2px #4cec37, -2px -4px lightblue;
    }
    25% {
            text-shadow: -2px -3px #23ddd4, 3px 1px lightblue;
    }
    50% {
            text-shadow: 3px -1px #ddd123, -4px 2px lightblue;
    }
    75% {
            text-shadow: -3px -1px #dd23d4, -4px -2px lightblue;
    }
    100% {
            text-shadow: 3px 1px #dd2323, 2px 4px lightblue;
    }
}
