.home-wrapper {
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    overflow: hidden;

}

.headline-wrapper {
    position: relative;
    margin: 0 auto;
    width: 80%;
    display: block;
    top: 30vh;
    left: 10vw;
    z-index: 1;

    @media (max-width: 960px) {
        left: 0rem;
        padding: 0 2rem;
        width: 90%;
        left: 0;
        top: 20vh;
    }
    h4 {
        font-size: 1.4rem;
        color: var(--color-text);
        font-weight: 400;

        @media (max-width: 960px) {
            font-size: 1.2rem;
        }
    }

   
    h1 {
        font-size: 3rem;
        color: var(--color-text-2nd);
        text-transform: uppercase;
        transition: transform 1s ease;
        font-family: 'Playfair Display', sans-serif;
        cursor: pointer;
        overflow: hidden;

        &::after {
            content: "/ˌkriːeɪˈtɪvəti/";
            display: block;
            position: absolute;
            top: -25vh;
            left: 5vw;
            width: 200%;
            color: #282828;
            text-shadow: 4px 4px 3px #000, 4px 4px 10px #121212;
            font-size: 10rem;
            font-weight: 800;
            z-index: -1;
            @media (max-width: 960px) {
                content: "<div>";
                font-family: 'Great Vibes', cursive;
                display: block;
                font-style: oblique;
                text-transform: lowercase; 
                position: absolute;
                top: -10vh;
                left: -5vw;
                width: 200%;
                color: #2A497F;
                text-shadow: 2px 2px 3px #152852, 4px 4px 10px #152852;
                font-size: 6rem;
                font-weight: 800;
                z-index: -1;
            }
        }
        &::before {
            display: none;
            @media (max-width: 960px) {
                content: "</div>";
                font-family: 'Great Vibes', cursive;
                font-style: oblique;
                text-transform: lowercase;
                display: block;
                position: absolute;
                top: 50vh;
                left: 30vw;
                width: 200%;
                color: #2A497F;
                text-shadow: 2px 2px 3px #152852, 4px 4px 10px #152852;
                font-size: 6rem;
                font-weight: 800;
                z-index: -1;
            }
        }

        @media (max-width: 960px) {
            font-size: 2rem;
        }


    }
}

.home-section-top {
    position: relative;
    top: 40vh;
    text-align: left;
    width: 80%;
    left: 10vw;
    margin: 0 auto;
    height: 92vh;
    z-index: 2;
    overflow-x: hidden;

    @media (max-width: 960px) {
        top: 30vh;
        left: 0;
        right: 0;
        padding: 0 2rem;
        width: 90%;
        margin: 0 auto;
        text-align: left;
        
    }
    

    h2 {
        color: var(--color-text-2nd);
        margin: 2rem 0;
        font-size: 1.4rem;
        font-weight: 100;
        
        

        @media (max-width: 960px) {
            width: 100%;
            font-size: 1.2rem;
            
        }

        span {
            font-size: 1.4rem;
            color: var(--color-text);
            font-weight: 400;
    
            @media (max-width: 960px) {
                font-size: 1.2rem;
            }
        }
    

        b {
            font-size: 2rem;
            color: #fcfcfb;

            @media (max-width: 960px) {
                font-size: 1.2rem;
            }
        }
        .bigger-text {
            font-size: 2rem;
            color: #fcfcfb;

            @media (max-width: 960px) {
                font-size: 1.6rem;
            }
        }

        small {
            unicode-bidi:bidi-override;
            direction:rtl;
            font-size: 2rem;
            font-size: 1.4rem;
            color: #fcfcfb;
            font-weight: 400;
            text-shadow: 0 1px 2px rgba(0,0,0,0.4);
            color: #fcfcfb;
            @media (max-width: 960px) {
                font-size: 1.2rem;
            }
        }
        
    }
    

}

.home-section-mid {
    position: relative;
    top: 5vh;
    right: 10vw;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    color: #f3c56f;
    text-align: right;
    z-index: 2;

    @media (max-width: 960px) {
        top: 0;
        padding: 0 2rem;
        width: 90%;
        right: 0;
        left: 0;
        margin: 0 auto;
        height: 30vh;
        text-align: left;
    }
    

    h2 {
        font-size: 1.4rem;
        font-weight: 100;
        

        @media (max-width: 960px) {
            font-size: 1.2rem;
            line-height: 1.4rem;

        }

        b {
            font-size: 2rem;
            color: #fcfcfb;
            line-height: 1.6rem;

            @media (max-width: 960px) {
                font-size: 1.6rem;
            }
        }
        
    }
}
.home-section-bottom {
    position: relative;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    color: #f3c56f;
    text-align: left;
    z-index: 2;
    display: flex;

    @media (max-width: 960px) {
        padding: 0 2rem;
        width: 90%;
        left: 0;
        right: 0;
        margin: 10vh auto 10vh;
        height: 70vh;
        flex-direction: column;
    }

    .text-section {
        width: 50%;

        @media (max-width: 960px) {
            width: 100%;
        }

        a {
            text-decoration: none;
            color: #fcfcfb;
            font-size: 1.4rem;
            color: #fcfcfb;
            font-weight: 400;
            @media (max-width: 960px) {
                font-size: 1.2rem;
            }

            &:hover {
                color: lightgray;
            }
        }

    h2 {
        width: 80%;
        font-size: 1.4rem;
        font-weight: 100;

        @media (max-width: 960px) {
            font-size: 1.2rem;
            margin: 2vh auto;
            width: 100%;
            line-height: 1.4rem;
        }

        b {
            font-size: 2rem;
            color: #fcfcfb;

            @media (max-width: 960px) {
                font-size: 1.6rem;
            }
        }


        span {
           font-weight: 400;
        }

        h4 {
            font-size: 1.4rem;
            color: #fcfcfb;
            font-weight: 100;
    
            @media (max-width: 960px) {
                font-size: 1.2rem;
            }

            .technologies {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;

                @media (max-width: 960px) {
                    font-size: 1rem;
                    text-align: left;
                    justify-content: center;
                }
                
                h4 {
                    margin: 1rem 2rem;
                    font-weight: 400;

                    &:hover {
                        animation: glitch 0.6s ease infinite;
                    }
                }
            }
        }
        
    }
}
    .img-section {
        width: 50%;
        position: relative;
        display: inline-block;
        box-sizing: border-box;

        @media (max-width: 960px) {
            display: none;
           
        }
       
        

        .img-container {
            position: absolute;
            margin: 10vh auto;
            box-sizing: border-box;
            width: 300px;
            border: 1rem solid #f3c56f;
            background-color: #f3c56f;
            object-fit: cover;

             @media (max-width: 960px) {
                width: 200px;
             }

            &:hover .img-overlay {
                opacity: 0;
            }
            &:hover img {
                transform: scale(1.1);
            }

        }
        .img-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f3c56f;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;

        }

        img {
        width: 100%;
        height: 100%;
        border: 1rem solid #f3c56f;
        transition: transform 0.4s ease-in-out;

    }
    }
    

}

@keyframes glitch {
    0% {
            text-shadow: 3px 2px #f3c56f, -2px -4px lightblue;
    }
    25% {
            text-shadow: -2px -3px #f3c56f, 3px 1px lightblue;
    }
    50% {
            text-shadow: 3px -1px #f3c56f, -4px 2px lightblue;
    }
    75% {
            text-shadow: -3px -1px #f3c56f, -4px -2px lightblue;
    }
    100% {
            text-shadow: 3px 1px #f3c56f, 2px 4px lightblue;
    }
}
