.home-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: transparent;
    font-family: 'Inter', sans-serif;

}

.logo-wrapper {
    position: relative;
    margin: 0 auto;
    width: 80%;
    display: flex;
    top: 15vh;
    z-index: 50;
    @media (max-width: 960px) {
        top: 10vh;
    }

    h1 {
        position: absolute;
        left: 15%;
        bottom: -18%;
        font-size: 10em;
        color: #FCFCFB;
        text-transform: uppercase;
        transition: transform 1s ease;
        font-family: 'Playfair Display', sans-serif;

        @media (max-width: 960px) {
            font-size: 6em;
        }

        &:hover {
            transform: scale(1.1);
            color: #f3be58;
        }
    }
}

.image {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 600px;
    z-index: 1;
    transition: all 1s ease;

    &:hover {
        transform: scale(1.6);
       + .shapes div:nth-child(1) {
        transition: all 1s ease;
           position: absolute;
            transform: rotate(-95deg);
        }
       + .shapes div:nth-child(2) {
        transition: all 1s ease;
           position: absolute;
            transform: rotate(45deg);
        }
        
    }
    
    @media (max-width: 960px) {
        display: none;
        top: 15%;
        right: -30px;
        width: 200px;
    }
}
.shapes {
    position: absolute;
    top: 5%;
    right: 40%;
    
    .shape1 {
        fill: #b7c401ad;
        transition: rotate 0.4s ease-in-out;
    }
    .shape2 {
        fill: #f3bd58da;
    }
    div:nth-child(1) {
        position: absolute;
        top: 10%;
        left: 10%;
        
    }
    div:nth-child(2) {
        position: absolute;
        top: -5%;
    }
}


.home-section-top {
    position: relative;
    top: 20vh;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    height: 92vh;
    color: #F3BE58;

    @media (max-width: 960px) {
        width: 100%;
        padding: 0 2em;
        margin: 0 auto;
        word-wrap: normal;
        text-align: justify;
    }
    

    h2 {
        font-size: 2rem;
        font-weight: 100;

        b {
            font-size: 4rem;
            color: #ccd6f6;
        }
        
        code {
            color: #fcfcfb;
        }

        small {
            unicode-bidi:bidi-override;
            direction:rtl;
            font-size: 4rem;
            font-weight: 800;
            text-shadow: 0 1px 2px rgba(0,0,0,0.4);
            color: #ccd6f6;
        }
        
    }
    

}

.home-section-mid {
    position: relative;
    top: 5vh;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    color: #F3BE58;
    text-align: right;
    z-index: 10;

    @media (max-width: 960px) {
        width: 100%;
        padding: 0 2em;
        margin: 0 auto;
        word-wrap: normal;
        text-align: justify;
    }
    

    h2 {
        font-size: 3rem;
        font-weight: 100;

        b {
            font-size: 4rem;
            color: #ccd6f6;
        }
        
        code {
            color: #fff;
        }

        small {
            unicode-bidi:bidi-override;
            direction:rtl;
            font-size: 4rem;
            font-weight: 400;
            color: #fff;
        }   
    }
}
.home-section-bottom {
    position: relative;
    top: 10vh;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    color: #F3BE58;
    text-align: left;
    z-index: 10;

    @media (max-width: 960px) {
        width: 100%;
        padding: 0 2em;
        margin: 0 auto;
        word-wrap: normal;
        text-align: justify;
    }
    

    h2 {
        font-size: 3rem;
        font-weight: 100;

        b {
            font-size: 4rem;
            color: #ccd6f6;
        }
        
        code {
            color: #fff;
        }

        small {
            unicode-bidi:bidi-override;
            direction:rtl;
            font-size: 4rem;
            font-weight: 400;
            color: #fff;
        }
        
    }
    

}