.mail {
  box-sizing: border-box;
    position: fixed;
    right: 1vw;
    top: 60vh;
    height: 42px;
    z-index: 50;
    display: flex;
    

}
.mail .mail-info {
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 99;
    transition: all .3s ease-in-out 0s;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.6));
    margin: 1rem 1.5rem;

    @media (max-width: 768px) {
      display: none;
       }
  }

  .mail-text {
    writing-mode: vertical-lr;
    margin: 0 auto;
    font-weight: 100;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s ease-in-out;

  }
  
  .mail .mail-info .mail-item {
    margin: 1rem 1.5rem;
  }
  
  .mail .mail-info .mail-icon {
    z-index: 19;
    color: #968388;
    width: 32px;
    height: 32px;
    padding: 0.25rem;
    transition: all .3s ease-in-out;

    @media (max-width: 768px) {
      width: 26px;
      height: 26px;
       }
  
  }
  
  
  
  .mail .mail-info .mail-item:hover {
    color: #fcfcfb;
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.432));
    transform: scale(1.1);
  }

  .mail-text:hover {
    color: #fcfcfb;
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.432));
    transform: scale(1.02);
  }