.theme-selector {
    position: fixed;
    right: 2rem;
    top: 0.8rem;
    z-index: 1000;

    

.theme-toggle {
    margin-right: auto;

    button {
        background: transparent;
        border-radius: 50%;
        border:none;
        cursor: pointer;
        padding: 0.3rem;
        z-index: 50;
        outline: none;

        .moon,
.sun {
    height: 42px;
    width: 42px;
    stroke-width: 1px;
}
.sun {
    color: E0CB83;
}

.moon {
    color: #000;
}

    } 
}
}


