@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');


.contact-form-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    // glass effect
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .15);
    
    box-shadow: 0 0 10px rgba(0, 0, 0, .25), inset 0 0 2px 0px white;
    background: rgba(0, 0, 0, .0125);
    overflow: hidden;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(3px);
    

    @media screen and (max-width: 900px) {
        width: 100%;
    }

}

.contact-info-container {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .contact-text,
  .contact-info {
    margin: 0.5rem 1rem;
    width: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.h1>header {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #f3f3f3;
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.social a {
  text-decoration: none;
  color: #F6EDAD;
}

.submit-btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: 1rem;
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  letter-spacing: 4px;
  overflow: hidden;
  background-color: transparent;
 
}
.submit-btn:hover{
  background: #cb92e4c7;
  color: #050801;
  box-shadow: 0 0 5px #c97aeb,
              0 0 25px #c97aebb6,
              0 0 50px #c97aeb6e,
              0 0 100px #c97aeb34;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.text {
  margin-top: 15px;
  margin-bottom: 40px;
}

.form-control {
  position: relative;
  margin: 40px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 20px 0 10px;
  font-size: 15px;
  border-bottom: 2px solid #a3a3a3;
  color: #fff;
  outline: none;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-bottom-color: rgb(255, 255, 255);
}

.form-control label {
  position: absolute;
  top: 0px;
  left: 0;
}
.form-control label span {
  display: inline-block;
  font-size: 16px;
  min-width: 5px;
}