.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}