.about {
    position: relative;
    margin-top: 8vh;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    color: var(--color-text);
    overflow-x: hidden;
   
    @media (max-width: 40em) {
     text-align: center;
     padding: 1vh 0;
    }


.text-animation {
        position: relative;
        width: 100vw;
        margin: 0 auto 10vh;
        overflow: hidden;
        text-transform: uppercase;
        z-index: 10;
        text-align: center;

        @media (max-width:40em) {
          margin-top: 2rem;
          
        }

        .first {
          margin-right: 2rem;

          @media (max-width:40em) {
           margin-right: 1rem;
          }
        }
        span {
          display: inline-block;
          position: relative;
          font-weight: 800;
          font-size: 6rem;
          font-family: var(--big-font);
          text-shadow: 2px 2px 10px rgba(0,0,0,0.3);

          @media (max-width:40em) {
            font-size: 2rem;
          }
        }
      }

      .about-text {
        position: absolute;
        top: 15%;
        right: 5%;
        z-index: 10;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
        width: 30%;
        overflow: hidden;
        @media (max-width:40em) {
          top: 30%;
          width: 90%;
         margin: 0 auto;
         text-align: justify;
        }
h1 {
    margin: 15vh auto 1rem;
    font-family: 'Inter';
    text-align: center;
    font-size: 5rem;
    color: white;

    @media (max-width:40em) {
      font-size: 3rem;
    }

}

p {
  font-size: 1.4rem;
  text-shadow: 0px 5px 10px rgba(0,0,0,0.125),
  0px 5px 5px rgba(0,0,0,0.25),
  0px 10px 10px rgba(0,0,0,0.5);
}
}
}


.about-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 92vh;
        object-fit: cover;
        object-position: left;
        z-index: -1;
        overflow-x: hidden;

        @media (max-width: 40em) {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

}
.about-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        min-height: 92vh;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
}


.skills-container {
  position: absolute;
  top: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    position: relative;
    font-size: 10rem;
    margin: 0 auto 1rem;
    padding: 0;
    
  }

  h1:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 8.3rem;
    background: linear-gradient(0deg, #BF953F 0, #FCF6BA 0, transparent 80%);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.5;
  }

  
  @media (max-width: 40em) {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
}


