@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    --font: "Inter", sans-serif;
    --big-font: "Playfair Display", serif;
    --font-hand: "Great Vibes";
    --color-bg: #1d1b1b;
    --color-bg-second: #92747c;
    --color-bg-third: #92747c99;
    --color-card-bg: #0a0a24ec;
    --color-text: #f4f4f8;
    --color-text-2nd: #ec4d37;
    --color-text-dark: #282828;
    --color-home: #27dfe6;
    --color-about: #aeadeeec;
    --color-history: #ddc123;
    --color-articles: #ee4e34;
    --color-articles-bg: #fcedda;
    --color-halloffame: #fff;
    --color-contacts: #f74c09;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }

body {
    width: 100vw;
    height: 100%;
    background-color: #030e1f;
    background-color: var(--color-bg);
    @include scrollbars(10px, var(--color-text-2nd), var(--color-bg));
    overflow-x: hidden;

    @media (max-width: 960px) {
        background-color: #1C335F;      
    }
    
}
