.nav {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(
      90deg,
      #f3be58 0%,
      #030e1f 70%
    );
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    z-index: 100;
  }

  
  .nav-menu {
    position: absolute;
    width: 70%;
    top: 0;
    right: 4rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
  }
  li {
    display: flex;
    align-items: center;
    margin: 0 1.2rem;
    
    

    &::after {
        border-right: solid 15px transparent;
         border-left: solid  15px #fff;
        border-top: solid transparent 15px;
        border-bottom: solid transparent 15px;
        transform: translateX(-20%) translateY(-25%);
        position: absolute;
        z-index: 1;
        content: "";
        display: block;
        opacity: 0.3;
        transition: all 0.3s ease-in-out;
  }
  .nav-links {
        padding: 1.7rem 1rem;
        font-size: 1.4rem;
        /* font-family: 'Inter', sans-serif; */
        font-family: 'Playfair Display', sans-serif;
        text-decoration: none;
        color: #f3be58;
        transition: all 0.5s ease-in-out;

        small {
            font-size: .7rem;
            display: block;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 100;
            text-align: right;
            color: #1e2328;
            transition: all 0.3s ease-in-out;
        }
  }
  
  &:hover,
  &:focus {
      a {
        color: #fff;
          }
      small {
          color: #f3be58;
          opacity: 1;
      }
      &::after {
         /*  border-left: solid 15px #f3c56f; */
         border-top: solid 15px #f3c56f;
         border-right: solid 15px transparent;
         border-left: solid  15px transparent;
        border-bottom: solid transparent 15px;
        opacity: 1;
      }
  }
}
.logo {
  margin: 0.5rem 0 0 3rem;
    width: 2rem;
    transition: all 0.3s ease;

    @media (max-width: 960px) {
        margin: 0.5rem 0 0 1.5rem;
        width: 1.8rem;
        fill:  #030e1f;
    }
   /*  &:hover {
        fill: white;
    } */
}
  
  .menu-icon {
    display: none;
  }

  
  @media (max-width: 960px) {
    .nav {
      margin: 0;
      padding: 0;
      transition: all 0.6s ease-out;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 92vh;
      /* padding: 0 0 10vh 5%; */
      position: absolute;
      top: 8vh;
      right: -110%;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      overflow-x: hidden;
      
    }
  
    .nav-menu.active {
        background: #030e1f;
        top: 8vh;
      right: 0;
      opacity: 1;
      transition: all 0.5s ease-in-out;
      z-index: 50;
      align-items: flex-end;
      justify-content: flex-start;
      text-align: right;
      padding: 5vh 5vw;
        

      li {
        transition: all 0.3s ease-in-out;
        &::after {
          position: relative;
        }
      .nav-links {
          position: relative;
          
          color: #f3be58;
          font-size: 1.8rem;
          font-weight: 800;
         

          &:hover {
            color: #fff;

            &::after {
              border-left: solid 15px #020A10;
              opacity: 1;
          }
          }
     
      

        small {
          opacity: 0;
        }
      }
    }
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 1.2rem;
      right: 1.5rem;
      cursor: pointer;
    }
  
    .hix,
    .menu3 {
      color: #fff;
      font-size: 1.8rem;
    }
  
  }
  

/* 
.nav {
position: fixed;
margin: 0;
top: 0;
left: 0;
width: 100vw;
height: 8vh;
background: transparent;
z-index: 100;
overflow-x: hidden;
padding: 0 1.5em;

@media (max-width: 960px) {
    display: none;
}


  ul {
    position: absolute;
    top: 0.25rem;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 1em;
    padding-block: 0.5rem;

    li {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        
        grid-gap: 1.2rem;
        padding: 1rem;
        

        &::after {
            border-right: solid 15px transparent;
             border-left: solid  15px #fff;
            border-top: solid transparent 15px;
            border-bottom: solid transparent 15px;
            transform: translateX(-70%) translateY(-25%);
            position: absolute;
            z-index: -1;
            content: "";
            display: block;
           
    }
    
    a {
        font-size: 1.8rem;
        font-family: 'Inter', sans-serif;
        text-decoration: none;
        line-height: 1;
        color: #FCFCFB;
        transition: all 0.3s ease-in-out;
        
        small {
            font-size: .7rem;
            display: block;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 100;
            text-align: right;
            color: #323720;
            transition: all 0.3s ease-in-out;
        }
    }

        &:hover,
        &:focus {
            a {
        transform: scale(1.05);
        color: #f3be58;

            }
            small {
                color: #FCFCFB;
            }
            &::after {
                border-left: solid 15px #f3bd58da;
            }
        }

  }
}
}


.menu-icon {
    display: block;
    display: block;
      position: absolute;
      top: 10rem;
      right: 10rem;
      font-size: 1.8rem;
      cursor: pointer;
      z-index: 100;
   }
   .hix,
      .menu3 {
      color: #fff;
      font-size: 2rem;
      
    }
 */